
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111111;
}

.nav li a.active {
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.tugas9 table,.tugas10 table {
  margin: 0 auto;
  text-align: left;
  /* padding: 20px; */
}

.tugas9 .box, .tugas10 .box{
  margin: 0 auto;
  border: 1px solid;
  width: 500px;
  border-radius: 20px;
}

.tugas9 button, .tugas10 button{
  border-radius: 20px;
  background-color: #fff;
}

.tugas9 label, .tugas10 label {
  font-weight: bold;
  padding-right: 20px;
}

.tugas10 .tabelHarga h2 {
  text-align: center;
}


.tugas10 table.full{
  width: 100%;
  margin: 20px;
}
.tugas10 table.border{
  border: 1px solid #000;
}
.tugas10 table.border th{
  text-align: center;
  border: 1px solid #ccc;
  background-color: #ddd;
}
.tugas10 table.border.orange td{
  border: 1px solid #ccc;
  background-color: orange;
}
.tugas10 .ucword{
  text-transform: capitalize;
}
.tugas10 .tabelHarga {
  margin: 0 auto;
  width: 700px;
}

.tugas11 .box{
  margin: 0 auto;
  border: 1px solid;
  width: 600px;
  border-radius: 20px;
  padding: 30px;
}

.tugas11 .box p {
  /* float: left; */
  display: inline;
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
}


.tugas12 .box, .tugas13 .box, .tugas14 .box{
  margin: 0 auto;
  border: 1px solid;
  width: 600px;
  border-radius: 20px;
  padding: 30px;
}

.tugas12 .box p,.tugas13 .box p,.tugas14 .box p {
  /* float: left; */
  display: inline;
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
}

.tugas12 table, .tugas13 table,.tugas14 table {
  width: 100%;
}
.tugas12 .tabelBuah table, .tabelBuah th, .tabelBuah td {
  border: 1px solid #ccc;
  text-align: center;
}
.tugas13 .tabelBuah table, .tabelBuah th, .tabelBuah td {
  border: 1px solid #ccc;
  text-align: center;
}
.tugas14 .tabelBuah table, .tabelBuah th, .tabelBuah td {
  border: 1px solid #ccc;
  text-align: center;
}


